* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: "Varela Round", sans-serif !important;
}

/* sticky footer */
#app {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1em;
    min-height: 80vh;
}

header, footer {
    background-color: #283142;
    color: #FFFFFF;
    min-width: 100% !important;
    padding: 1em 8em !important;
}

.help-block {
    font-size: 10pt;
}