<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Oracle DB - Table</title>
</head>

<body class="container">
<header>
    <h1>Oracle DB</h1>
</header>

<main class="container">
    <table class="table table-bordered table-hover"
           th:include="fragments/table_fragment :: tableFragment">
    </table>

    <form th:action="'save'">
            <input type="submit" value="Add" class="btn btn-info"/>
    </form>

    <div>
        <a href="/">Return</a>
    </div>

    <div th:if="${isOkay}" th:text="'<strong>Success!</strong> ' + isOkay" class="alert alert-success">
    </div>
</main>

<footer>
    © Daria Pydorenko, 2017
</footer>
</body>
</html>