.form-group(v-bind:class="{ 'has-error': $v.option1.$error }")
    label option1
    select.form-control(v-model.trim='option1', @input='$v.option1.$touch()')
        option(v-for='entity in entities') {{ entity }}
    span.help-block(v-if='$v.option1.$error && !$v.option1.required') option1 is required
.form-group(v-bind:class="{ 'has-error': $v.option2.$error }")
    label option2
    select.form-control(v-model.trim='option2', @input='$v.option2.$touch()')
        option(v-for='entity in entities') {{ entity }}
    span.help-block(v-if='$v.option2.$error && !$v.option2.required') option2 is required