div
    .form-group(v-bind:class="{ 'has-error': $v.nowEntity.$error }")
        label Entities
        select.form-control(v-model.trim='nowEntity')
            option(v-for='entity in entities()') {{ entity.name }}
        span.help-block(v-if='$v.nowEntity.$error && !$v.nowEntity.required') Entity is required

    ul#fields.form-group(v-bind:class="{ 'has-error': $v.mainField.$error }")
        li(v-for='field in fields', v-if='field.parent == nowEntity')
            | {{ field.name }} {{ field.dataType }} {{ field.isUnique ? 'Unique' : 'NotUnique'}} {{ field.isNull ? 'Null' : 'NotNull' }}
            | &nbsp;&nbsp;&nbsp;
            input(type="radio", name="mainField", value="field.name")
        span.help-block(v-if='$v.mainField.$error && !$v.mainField.required') You must choose main unique field
    br
    br
    .form-group(v-bind:class="{ 'has-error': $v.nameField.$error }")
        label Name
        input.form-control(v-model.trim='nameField', @input='$v.nameField.$touch()')
        span.help-block(v-if='$v.nameField.$error && !$v.nameField.required') Name is required
    .form-group(v-bind:class="{ 'has-error': $v.dataType.$error }")
        label DataType
        select.form-control(v-model.trim='dataType', @input='$v.dataType.$touch()')
            option String
            option Integer
            option Double
            option LocalDate
            option LocalDateTime
        span.help-block(v-if='$v.dataType.$error && !$v.dataType.required') DataType is required
    .form-group
        label IsUnique
        input.form-check-input(type="checkbox", v-model.trim='isUnique')
    .form-group
        label IsNull
        input.form-check-input(type="checkbox", v-model.trim='isNull')
    br
    input.btn.btn-info(type='button', v-on:click='addField', value='Add Field')
