div
    ul#entities
    li(v-for='(entity, index) in entities')
        | {{ entity.name }}
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(v-on:click='remove(index)', type = 'button', value='Remove', class="btn btn-link")
    br
    br
    .form-group(v-bind:class="{ 'has-error': $v.nameEntity.$error }")
        label Name
        input.form-control(v-model.trim='nameEntity', @input='$v.nameEntity.$touch()')
        span.help-block(v-if='$v.nameEntity.$error && !$v.nameEntity.required') Name is required
    br
    input.btn.btn-info(type='button', v-on:click='addEntity', value='Add Entity')

