div
    ul#entities
    li(v-for='entity in entities')
        | {{ entity.country }}
    br
    br
    .form-group(v-bind:class="{ 'has-error': $v.country.$error }")
        label Country
        select.form-control(v-model.trim='country', @input='$v.country.$touch()')
            option USA
            option United Kingdom
            option France
        span.help-block(v-if='$v.country.$error && !$v.country.required') Country is required
    .form-group(v-bind:class="{ 'has-error': $v.city.$error }")
        label City
        input.form-control(v-model.trim='city', @input='$v.city.$touch()')
        span.help-block(v-if='$v.city.$error && !$v.city.required') City is required
    br
    input.btn.btn-info(type='button', v-on:click='addEntity', value='Add Entity')
