h2
    span.rwd-line
        label(for='db') Generate a project with
        select#db.form-control(name='db')
            option(value='MySQL', selected='') MySQL
            option(value='MongoDB') MongoDB
.col-sm-12.col-md-6
    h2 Project Metadata
        p Artifact coordinates
        .form-group.groupid-form-group
            label.control-label(for='groupId') Group
            input#groupId.form-control(tabindex='4', type='text', value='com.example', name='groupId')
        .form-group.artifactid-form-group
            label.control-label(for='artifactId') Artifact
            input#artifactId.form-control(tabindex='5', type='text', value='demo', name='artifactId')
        .form-group.full.hidden.name-form-group
            label.control-label(for='name') Name
            input#name.form-control(tabindex='6', type='text', value='demo', name='name')
        .form-group.full.hidden.packagename-form-group
            label.control-label(for='packageName') Package Name
            input#packageName.form-control(tabindex='8', type='text', value='com.example.demo', name='packageName')
        .form-group.full.hidden.javaversion-form-group
            label.control-label(for='javaVersion') Java Version
            select#javaVersion.form-control(tabindex='10', name='javaVersion')
                option(value='1.8', selected='') 8